* text=auto eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.cs text eol=lf
*.md text eol=lf

# Assets binarios do Unreal -- LFS
*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
*.ubulk filter=lfs diff=lfs merge=lfs -text
*.upk filter=lfs diff=lfs merge=lfs -text

# Outros binarios que possam entrar no Content/ no futuro
*.png filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
